body {
    background-color: rgb(219, 219, 226);
    font-family: "Fjalla One";
}

h1 {
    font-family:'Fjalla One';
    font-size: 100px;
    text-align: center;
    color: rgb(53, 49, 49);
    font-weight: 500;
}

.button1 {
border: 2px solid white;
border-radius: 10px;
background-color: rgb(37, 39, 38);
text-align: right;
font-size: 20px;
padding: 20px;
width: 300px;
transition: all 0.5s;
cursor: pointer;
margin: 5px;
margin: auto;
}

.button2 {
font-family:"Fjalla One";
font-weight: 400;
position: absolute;
font-size: 20px;
color: rgb(219, 219, 226); 
padding: 20px;
width: 300px;
text-align: center;
-webkit-transition-duration: 0.2s;
transition-duration: 0.4s;
text-decoration: none;
overflow: hidden;
cursor: pointer;
margin: auto;
font-size: 30px;
}

.buttons {
    font: rgb(219, 219, 226); 
    display: table;
    margin-left: 46%;

}


.but2{
position:absolute;
margin-top: 130px;
padding: 34px;
}

.but3{
position:absolute;
padding: 34px;
}

.but4{
position:absolute;
margin-top: 260px;
padding: 34px;
}

.but5{
    position:absolute;
    margin-top: 390px;
    padding: 34px;
}

.but6{
    position:absolute;
    padding: 34px;
    margin-top: 20px;
    margin-bottom: 500px;

}

.click:hover, .click{
    text-decoration: none;
}

.button2:hover {
    background-color: rgba(37, 39, 38, 0.5);
}
