          main {
              display: flex;
              align-items: center;
              margin-left: 1rem;
          }

          body { 
            background-color: rgb(219, 219, 226);
            color: rgb(53, 49, 49);
            font-family:'Fjalla One';
        }
        h1 {
            text-align: center;
            font-size: 6rem;
        }
        
  
        .image-container img {
              width: 250px;
          }

          .error{
              color: red;
              font-size: small;
              visibility: hidden;
              margin-left: 400px;
          }

          td, th{
              border: 1px solid black;
          }
  
          #inputs{
              text-align: center;
              margin-top: 50px;
          }

          .row {
            padding: 5px;
            width: 400px;
        }
        
        .form-control {
            padding: 20px;
            font-size: 2rem;
            margin-left:380px;
        }
        
         
          input[type="button"]{
              margin: 10px;
          }

          .btn {
            margin-left: 480px;
            margin-top: 20px;
            padding: 20px;
            font-size: 3rem;
            background-color: rgb(37, 39, 38);
            border: 2px white solid;
            color: rgb(219, 219, 226);
            font-weight: 400;
            border-radius: 5px;
            text-transform: capitalize;
        }

          #particles-js {
          background:#0E2A47;
          height: 20vh;
          }