body { 
    background-color: rgb(43, 43, 82);
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
h1 {
    text-align: center;
    font-size: 4.5rem;
}

h2 {
    text-align: center;
    font-size: 4rem;
}

.row {
    padding: 5px;
    width: 400px;
}

.form-control {
    padding: 20px;
    font-size: 2rem;
    margin-left:375px;
}

.btn {
    margin-left: 480px;
    margin-top: 20px;
    padding: 20px;
    font-size: 2rem;
    background-color: rgb(148, 193, 174);
    border: 2px black solid;
    color: black;
    font-weight: 600;
}