body {
    background-color: rgb(43, 43, 82);
}

h1 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: white;
}

.button1 {
border: 2px solid black;
border-radius: 10px;
background-color: rgb(148, 193, 174);
text-align: right;
font-size: 20px;
padding: 20px;
width: 300px;
transition: all 0.5s;
cursor: pointer;
margin: 5px;
margin: auto;
}

.button2 {
font-family:Georgia, 'Times New Roman', Times, serif;
font-weight: 600;
position: relative;
font-size: 20px;
color: black;
padding: 20px;
width: 300px;
text-align: center;
-webkit-transition-duration: 0.2s; /* Safari */
transition-duration: 0.4s;
text-decoration: none;
overflow: hidden;
cursor: pointer;
margin: auto;
justify-content: center;
}

.buttons {
    display: table;
    margin-left: 44.5%;

}


.but2{
position:absolute;
margin-top: 150px;
padding: 34px;
}

.but3{
position:absolute;
padding: 34px;
}

.but4{
position:absolute;
margin-top: 300px;
padding: 34px;
}

.click:hover, .click{
    text-decoration: none;
    color: black;
}