
.flex-container {
display: -webkit-flex;
display: flex;  
-webkit-flex-flow: row wrap;
flex-flow: row wrap;
}

body {
    background-color: rgb(219, 219, 226);
    color: rgb(53, 49, 49);
    font-family: 'Fjalla One'
}

h1 {
    text-align: center;
    font-size: 6rem;
}

h2{
    font-family: Urbanist;
    text-align: left;
    font-size: 4rem;
}

img {
    border-radius: 5px;
    height: 300px;
    margin-left: 300px;
    border: 2px rgb(37, 39, 38) solid;
}

p, ol {
    font-family: Playfair;
    font-weight: 600;
    font-size: 2rem;
}

.flex-container > * {
padding: 15px;
-webkit-flex: 1 100%;
flex: 1 100%;
}

.article {
text-align: left;
}
footer {
    background: #aaa;color:white;
}

.nav ol {
list-style-type: none;
padding: 0;
}
.nav ol a {
text-decoration: none;
}

@media all and (min-width: 768px) {
.nav {text-align:left;-webkit-flex: 1 auto;flex:1 auto;-webkit-order:1;order:1;}
.article {-webkit-flex:5 0px;flex:5 0px;-webkit-order:2;order:2;}
footer {-webkit-order:3;order:3;}
}